@media screen and (max-width:1540px) {
    .linkedin-link{
        top:180px;
        left: 530px;
        height: 210px;
        font-size: 12px;
    }
    #c-head{
        font-size: 30px;
        top: 30px;
        right: 420px;
    }
    .c-addr h1{
        font-size:20px;
    }
    .c-addr h2{
        font-size: 15px;
        font-weight: bold;
    }

    #c-addr-addr{
        right: 600px;
        top: 170px;
    }
    #c-addr-email{
        right: 365px;
        top: 170px;
    }
    #c-addr-ph{
        right: 230px;
        top: 170px;
    }
    #c-head{
        top: 90px;
        right: 350px;
    }
    .socials{
        left: 180px;
    }
    #social-head{
        left: 340px;
    }
    #text-inp{
        width: 40%;
        left:50px;
    }
    #email-inp{
        width: 40%;
        right: 55px;
    }
    .about-image{
        height:70%;
        left: 22.5%;
    }
    .about-text{
        margin-right: 400px;
        left: 25%;
        top: 160px;
    }
}
@media screen and (max-width:1480px) {
    .about{
        height: 700px;
    }
    .about-image{
        height:70%;
        left: 15%;
    }
    .about-text{
        margin-right: 400px;
        left: 18%;
        top: 150px;
    }
    .nav-links{
        word-spacing: 60px;
    }

}
@media screen and (max-width:1295px) {
    .about-text{
        top:140px;
        margin-right: 300px;
    }
    .main div{
        padding-left: 0px;
        padding-right:0px;
    }
}